background-color
{
    color: darkseagreen;
}

.copy_right_footer {
    position: fixed;
    color: whitesmoke;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    line-height: 3;
    text-align: center;
}